@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {font-size: 16px;}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {

	width: 100%;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

header h1 {
	width: 100%;
	text-align: center;
	float: left;
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 1.25em 0;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 0;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
	float: left;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;

}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;

}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
	padding: 0;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}

/*The widths are in a percentage!*/
footer {
	width: 100%;
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media only screen and (min-width:768px) {
    /* Tablet styles here */


		.bottom-section{display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		border-top: 1px solid #eee;}

		.section-one, .section-two, .section-three {flex-basis: 30%;}

		.section-two {border-right: 1px solid #eee;
								border-left: 1px solid #eee;
							  padding: 0 20px 0px 20px;}

}

@media only screen and (min-width:1200px) {

		header {display: flex;

		justify-content: space-between;
		}

		header h1 {width: 40%;
							text-align: left;
						border-bottom: none;}

		header nav  {width: 40%;}
		header nav ul {display: flex;
									justify-content: space-around;}
}
